In [12]:
from astropy.io import fits
import numpy as np
import matplotlib.pyplot as plt
from glob import glob

In [19]:
a = fits.open(glob('/srv/scratch/astro/z3529659/qlp/s0017/0000/0000/0561/4911/*.fits')[0])

In [20]:
a[1].data.columns

ColDefs(
    name = 'TIME'; format = 'D'; unit = 'BJD-2457000, days'
    name = 'CADENCENO'; format = 'J'
    name = 'SAP_FLUX'; format = 'E'
    name = 'KSPSAP_FLUX'; format = 'E'
    name = 'KSPSAP_FLUX_ERR'; format = 'E'
    name = 'QUALITY'; format = 'J'
    name = 'ORBITID'; format = 'J'
    name = 'SAP_X'; format = 'E'; unit = 'pixel'
    name = 'SAP_Y'; format = 'E'; unit = 'pixel'
    name = 'SAP_BKG'; format = 'E'
    name = 'SAP_BKG_ERR'; format = 'E'
    name = 'KSPSAP_FLUX_SML'; format = 'E'
    name = 'KSPSAP_FLUX_LAG'; format = 'E'
)

In [21]:
a[1].data['CADENCENO']

array([25787, 25788, 25789, ..., 26984, 26985, 26986], dtype=int32)

In [22]:
print(a[1].data['SAP_FLUX'], a[1].data['KSPSAP_FLUX'])

[1.000109  1.0008879 1.0037633 ... 1.0435084 1.0417938 1.0018946] [0.99797213 0.9985982  1.001329   ... 0.96822524 0.9651142  0.9266731 ]

In [23]:
a[0].header

SIMPLE  =                    T / conforms to FITS standard
BITPIX  =                    8 / array data type
NAXIS   =                    0 / number of array dimensions
EXTEND  =                    T
NEXTEND =                    1 / number of standard extensions
EXTNAME = 'PRIMARY '           / name of extension
ORIGIN  = 'MIT/QLP '           / institution responsible for creating this file
TELESCOP= 'TESS    '           / telescope
INSTRUME= 'TESS Photometer'    / detector type
FILTER  = 'TESS    '           / the filter used for the observations
OBJECT  = 'TIC 5614911'        / string version of TICID
TICID   =              5614911 / unique TESS target identifier
SECTOR  =                   17 / last observed sector
CAMERA  =                    1 / camera
CCD     =                    4 / ccd
RADESYS = 'ICRS    '           / reference frame of celestial coordinates
RA_OBJ  =        32.1163748901 / [deg] right ascension, J2000
DEC_OBJ =         24.224081702 / [deg] declination, J2000
TESSMAG =              13.1248 / [mag] TESS magnitude, TIC v8
RADIUS  =               5.1786 / [solar radii] stellar radius
LOGG    =                 -1.0 / [cm/s2] log10 surface gravity
MASS    =                 -1.0 / [solar mass] log10 stellar mass
TEFF    =               4897.0 / [K] effective temperature
MH      =                 -1.0 / metallicity
EQUINOX =               2000.0 / equinox of celestial coordinate system
PMRA    =             -1.14357 / [mas/yr] RA proper motion
PMDEC   =              -1.7893 / [mas/yr] DEC proper motion
TICVER  =                    8 / TIC Version
CALIB   = 'TICA    '           / pipeline used for image calibration

In [24]:
from astropy.table import Table
dat = Table.read(a)
df = dat.to_pandas()

In [25]:
df

,TIME,CADENCENO,SAP_FLUX,KSPSAP_FLUX,KSPSAP_FLUX_ERR,QUALITY,ORBITID,SAP_X,SAP_Y,SAP_BKG,SAP_BKG_ERR,KSPSAP_FLUX_SML,KSPSAP_FLUX_LAG
0,1764.703539,25787,1.000109,0.997972,0.002528,4096,41,2001.945923,849.212952,3.770000,405.429993,0.999841,0.998001
1,1764.724373,25788,1.000888,0.998598,0.002528,4096,41,2001.947021,849.207153,62.689999,503.720001,1.000233,0.997932
2,1764.745207,25789,1.003763,1.001329,0.002528,4096,41,2001.948242,849.207886,2.450000,483.859985,1.000199,1.002519
3,1764.766041,25790,1.002448,0.999890,0.002528,4096,41,2001.948853,849.205444,-60.500000,471.500000,0.999827,1.000582
4,1764.786876,25791,1.005268,1.002589,0.002528,4096,41,2001.951294,849.206055,62.400002,426.670013,1.002611,1.000720
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,1789.599799,26982,NaN,NaN,0.002528,4096,42,NaN,NaN,NaN,NaN,NaN,NaN
1126,1789.620632,26983,NaN,NaN,0.002528,4096,42,NaN,NaN,NaN,NaN,NaN,NaN
1127,1789.641466,26984,1.043508,0.968225,0.002528,4096,42,2002.055054,848.884766,14920.709961,8154.029785,1.000074,0.918272
1128,1789.662299,26985,1.041794,0.965114,0.002528,4096,42,2002.055054,848.875000,6843.319824,6553.149902,1.005081,0.904472
1129,1789.683132,26986,1.001895,0.926673,0.002528,4096,42,2002.064575,848.882629,-1030.709961,4576.669922,0.985753,0.854920